@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:100,400,600);

@import 'include-media';
// VARIABLES
$clearFont: 'Source Sans Pro', sans-serif;
$c_primary: #F7C500;
$c_secondary: #D8D8D8;

.clearcheckout{
    &.checkout-onepage-index{
        .main {
            .col-main {
                width: 100%;
                margin-right: 0;
            }
        }
        .main-container {

            @include media("<=desktop") {
                margin-top: 6em;
            }
            @include media(">phone", "<=tablet") {
                margin-top: 6em;
                .address__billing {
                    .buttons-set {
                        float: none;
                    }
                    div.a-item + div {
                        float: right;
                    }
                    div + img {
                        position: relative;
                        display: block;
                    }
                }
                #checkout-review-submit {
                    .buttons-set {
                        text-align: left;
                    }
                }
            }
            @include media("<=phone") {
                margin-top: 3em;
                .data-table {
                    thead {
                        display: none;
                    }
                }
            }
            @include media(">phone", "<=tablet") {
                @media screen and (orientation: portrait) {
                    .data-table {
                        thead {
                            display: none;
                        }
                    }
                }
            }
            @include media("<tablet") {
                .address__billing {
                    .buttons-set {
                        float: none;
                    }
                    .form-list {
                        margin-bottom: 0;
                    }
                }
            }
        }
        #opc-billing .form-list .field, #opc-shipping .form-list .field {
            width: 49%;
            @include media("<tablet") {
                width: 100%;
                margin-left: 0;
            }
        }
    }
}

.clearcheckout-container {
    font-family: $clearFont;
}

.clearcheckout__progress {
    margin-bottom: 3em;
    .clearcheckout__progress-list {
        display: inline-block;
        li {
            display: inline-block;
            border-bottom: 3px solid #ccc;
            margin-right: -3px;
            transition: border-color .25s ease;
            &.allow {
                a {
                    color: #a2a2a2;
                    cursor: pointer;
                }
            }
            &.current {
                border-color: $c_primary;
                a {
                    color: $c_primary;
                }
            }
            h3 {
                text-transform: uppercase;
                a {
                    color: #D8D8D8;
                    padding: 20px 25px;
                    display: block;
                    cursor: default;
                    &:hover {
                        text-decoration: none;
                    }
                }
                @include media("<=tablet") {
                    margin-top: 0;
                    font-size: 1em;
                    a {
                        padding: 10px 16px;
                    }
                }
                @include media("<=desktop") {
                    margin-top: 0;
                }
            }
            @include media("<=phone") {
                display: none;
                &.current {
                    display: block;
                }
            }
        }
    }
}

.clearcheckout__form {
    display: inline-block;
    position: relative;
    padding: 0 .1em;
    overflow: hidden;
    width: 68.2%;
    @include media("<=tablet") {
        width: 100%;
    }
    .clearcheckout__form-inner {
        width: 400%;
    }
    &:after {
        display: table;
        content: "";
        clear: both;
    }
    #opc-billing,
    #opc-shipping {
        .form-list {
            input.input-text,
            select {
                width: 100%;
                @include media(">phone") {
                    height: 55px;
                }
                @include media("<=phone") {
                    height: 45px;
                }
            }
        }
    }
    .delivery {
        .buttons-set {
            .back-link,
            button.button {
                display: none;
            }
        }
    }
    .fieldset {
        p.required {
            float: none;
            display: block;
            text-align: right;
        }
    }
    .form-list {
        #billing-new-address-form, #shipping-new-address-form {
            width: 100%;
        }

        .field {
            width: 49%;
            display: inline-block;
            margin-right: -3px;
            vertical-align: top;
            + .field {
                margin-left: 2%;
            }
        }
        label {
            font-size: 13px;
            color: #666666;
            font-weight: 600;
            text-transform: uppercase;
            padding-bottom: 5px;
        }
        .input-box,
        li.wide .input-box {
            width: 100%;
            input.input-text,
            select {
                font-size: 16px;
                font-weight: 100;
                font-family: $clearFont;
                padding: 10px 14px;
                box-sizing: border-box;
                width: 100%;
                height: auto;
            }
            select {
                margin-top: 0;
                height: 42px;
                option {
                    font-size: 14px;
                }
            }
        }
        li.wide textarea {
            width: 98%;
            height: 5em;
        }
        > .wide {
          margin-bottom: 17em;
          margin-top: -16em;
        }
        #billing-new-address-form,
        #shipping-new-address-form {
          margin-top: -16em;
        }
    }
    #co-shipping-method-form .buttons-set .button {
        background: none;
        &:hover {
            background: none;
        }
    }
    .address__billing {
        .buttons-set {
            float: none;
        }
        div.a-item + div {
            float: right;
        }
        div + img {
            position: relative;
            display: block;
        }
    }
    .buttons-set {
        opacity: 1 !important;
        button.button {
            float: none;
            background: none;
            box-shadow: none;
            @include media(">phone") {
                float: right;
                width: auto;
            }
            @include media("<tablet") {
                display: block;
                float: none;
                width: 80%;
                max-width: 80%;
                margin: 0 auto;
            }
            span {
                display: inline-block;
                background: $c_primary;
                font-size: 20px;
                font-weight: 600;
                font-family: $clearFont;
                text-transform: uppercase;
                line-height: 1;
                height: 100%;
                width: auto;
                max-width: 100%;
                padding: 20px 48px;
                border-radius: 4px;
                float: none;
                transition: background .25s ease;
                span {
                    padding: 0;
                }
            }
            &:hover {
                background: none;
                span {
                    background: darken($c_primary, 5%);
                }
            }
        }
        p.required {
            font-size: 12px;
            font-style: normal;
            width: 100%;
            text-align: left;
        }
        p.back-link {
            background: $c_secondary;
            font-size: 20px;
            font-weight: 600;
            text-transform: uppercase;
            line-height: 1;
            height: 100%;
            padding: 0;
            margin: 0;
            border-radius: 4px;
            a {
                color: #8F8F8F;
                font-family: $clearFont;
                font-size: 20px;
                font-weight: 600;
                background: none;
                margin: 0;
                line-height: 100%;
                text-transform: uppercase;
                padding: 20px 48px;
            }
            @include media("<tablet") {
                display: block;
                float: none;
                width: 66%;
                max-width: 66%;
                margin: 1em auto 0;
                a {
                    padding: 20px 30px;
                }
            }
        }
    }
    .please-wait {
        background: rgba(0, 0, 0, 0.06);
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        height: 100%;
        z-index: 999;
        font-size: 0;
        user-select: none;
        &:after {
            content: "";
            background: url("../images/loader.svg") no-repeat scroll center center #BEBEBE;
            padding: 1rem;
            background-size: 42%;
            font-size: 0;
            width: 100px;
            height: 30px;
            border-radius: 10px;
            position: fixed;
            top: 50%;
            left: 50%;
            margin-left: -50px;
            margin-top: -30px;
            z-index: 9999;
        }
        img {
            display: none;
        }
    }
    #review-buttons-container {
        .f-left {
            float: left;
        }
    }
}

.clearcheckout__cart {
    display: inline-block;
    width: 25%;
    margin-left: 6%;
    vertical-align: top;
    @include media("<=phone") {
        width: 100%;
        margin-top: 2em;
        margin-left: 0;
    }
    @include media(">phone", "<=tablet") {
        @media screen and (orientation: portrait) {
            width: 100%;
            margin-top: 2em;
            margin-left: 0;
        }
    }
    .block {
        padding: 0;
        .block-title {
            margin-left: 0;
            @include media("<=phone") {
                width: 100%;
            }
            @include media(">phone", "<=tablet") {
                @media screen and (orientation: portrait) {
                    width: 100%;
                    margin-top: 2em;
                    margin-left: 0;
                }
            }
        }
    }

    .actions,
    .summary,
    .block-subtitle {
        display: none;
    }
    .block-progress {
        margin-top: 2em;
        border-left: 0;
    }
}

.address__login {
    background: #FFF;
    padding: 2em;
    position: fixed;
    top: -80%;
    margin-top: -170px;
    left: 50%;
    margin-left: -130px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    width: 260px;
    z-index: 100;
    transition: top .5s ease;
    @include media("<=phone") {
        width: 210px;
        margin-top: -238px;
        z-index: 99999;
    }
    &.is-visible {
        top: 50%;
    }
    button.button {
        width: 100%;
    }
    .col2-set {
        .col-1 {
            display: none;
        }
        .col-2 {
            width: 100%;
            float: none;
        }
    }
}

.popup__bg {
    position: fixed;
    background: rgba(0, 0, 0, 0.06);
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 99;
}

.delivery-payment {
    padding: 0 .1em;
    position: relative;
    .delivery,
    .payment {
        width: 100%;
        display: inline-block;
        vertical-align: top;
    }
    #payment-buttons-container {
        width: 100%;
        @include media("<tablet") {
            margin-top: 16em;
        }
    }
    h3 {
        font-size: 18px;
        font-weight: 600;
    }
    form {
        width: 60%;
        display: block;
        @include media("<tablet") {
            width: 100%;
        }
    }
    .sp-methods,
    #checkout-shipping-method-load .sp-methods {
        dt,
        dd {
            float: none;
        }
        dt {
            font-size: 16px;
        }
        dd {
            .form-list {
                font-size: 14px;
                li {
                    margin: 1em 1.5em;
                }
            }
        }
        input.radio {
            width: 18px;
            height: 18px;
        }
        label {
            font-size: 14px;
        }
    }
    .coupon {
        position: absolute;
        top: 0;
        right: .1em;
        width: 32.5%;
        @include media("<tablet") {
            position: relative;
            width: 100%;
            margin-top: -27em;
            margin-bottom: 16em;
        }
        #discount-coupon-form {
            display: block;
            width: 100%;
            margin-top: 0;
        }
        label {
            font-size: 13px;
            color: #666666;
            font-weight: 600;
            text-transform: uppercase;
            padding-bottom: 5px;
            font-style: normal;
        }
        .input-text {
            font-size: 16px;
            font-weight: 100;
            font-family: $clearFont;
            padding: 10px 14px;
            box-sizing: border-box;
            width: 98%;
            height: auto;
        }
        .buttons-set {
            text-align: left;
            margin-top: 0;
            button {
                &.cancel {
                    span {
                        background: $c_secondary;
                        color: #8F8F8F;
                    }
                }
                span {
                    font-size: 13px;
                    padding: 10px 20px;
                    span {
                        padding: 0;
                    }
                }
            }
        }
    }
    .sp-methods .checkmo-list label {
        width: 100%;
        text-align: left;
    }
    .delivery {
        dt,
        .buttons-set button {
            display: none;
        }
    }
}

.register-link {
    display: inline-block;
    float: left;
    padding: 19px 40px;
    margin-right: 2em;
    color: #FFF;
    background: $c_primary;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 600;
    font-family: $clearFont;
    text-transform: uppercase;
    transition: background .25s ease;
    @include media("<=phone") {
        margin-right: 1em;
    }
    &:hover {
        background: darken($c_primary, 5%);
        text-decoration: none;
        color: #FFF;
    }
}
.address__shipping,
.address__billing {
  .form-list {
    padding-top: 16em;
  }
}
.clearcheckout__step {
    display: inline-block !important;
    vertical-align: top;
    width: 25%;
    transition: all .25s ease;
    float: left;
    margin-right: 2px;
    @include media("<=phone") {
        display: none !important;
        &.active,
        &.current {
            display: inline-block !important;
        }
    }
    @include media(">phone", "<=tablet") {
        @media screen and (orientation: portrait) {
            display: none !important;
            &.active,
            &.current {
                display: inline-block !important;
            }
        }
    }
    &.previous {
        margin-left: -25.1%;
        @include media("<tablet") {
            margin-left: -25.2%;
            display: none !important;
        }
        &.active {
            margin-left: 0;
        }
    }

}

.totals {
    margin-top: .5em;
    background: #EDEDED;
    padding-top: .5em;
    padding-bottom: .5em;
    border-radius: 4px;
    font-size: 13px;
    table {
        width: 100%;
        td {
            padding: .2em 0.5em;
            .price {
                font-family: $clearFont;
                font-size: 13px;
            }
        }
    }
}

.clear-message {
    text-align: center;
    color: #FFF;
    font-family: $clearFont;
    font-size: 14px;
    position: fixed;
    top: -10em;
    left: 50%;
    width: 600px;
    margin-left: -300px;
    padding: 1em;
    border-radius: 0 0 4px 4px;
    z-index: 9999;
    transition: top .25s ease;
    &.is_visible {
        top: 0;
    }
    &.status-success,
    &.status-cancel {
        background: #2ecc71;
    }
    &.status-error {
        background: #e74c3c;
    }
    p {
        margin: 0;
    }
}
