@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:100,400,600);
.clearcheckout.checkout-onepage-index .main .col-main {
  width: 100%;
  margin-right: 0; }
@media (max-width: 1024px) {
  .clearcheckout.checkout-onepage-index .main-container {
    margin-top: 6em; } }
@media (min-width: 321px) and (max-width: 768px) {
  .clearcheckout.checkout-onepage-index .main-container {
    margin-top: 6em; }
    .clearcheckout.checkout-onepage-index .main-container .address__billing .buttons-set {
      float: none; }
    .clearcheckout.checkout-onepage-index .main-container .address__billing div.a-item + div {
      float: right; }
    .clearcheckout.checkout-onepage-index .main-container .address__billing div + img {
      position: relative;
      display: block; }
    .clearcheckout.checkout-onepage-index .main-container #checkout-review-submit .buttons-set {
      text-align: left; } }
@media (max-width: 320px) {
  .clearcheckout.checkout-onepage-index .main-container {
    margin-top: 3em; }
    .clearcheckout.checkout-onepage-index .main-container .data-table thead {
      display: none; } }
@media (min-width: 321px) and (max-width: 768px) {
  @media screen and (orientation: portrait) {
    .clearcheckout.checkout-onepage-index .main-container .data-table thead {
      display: none; } } }
@media (max-width: 767px) {
  .clearcheckout.checkout-onepage-index .main-container .address__billing .buttons-set {
    float: none; }
  .clearcheckout.checkout-onepage-index .main-container .address__billing .form-list {
    margin-bottom: 0; } }
.clearcheckout.checkout-onepage-index #opc-billing .form-list .field, .clearcheckout.checkout-onepage-index #opc-shipping .form-list .field {
  width: 49%; }
  @media (max-width: 767px) {
    .clearcheckout.checkout-onepage-index #opc-billing .form-list .field, .clearcheckout.checkout-onepage-index #opc-shipping .form-list .field {
      width: 100%;
      margin-left: 0; } }

.clearcheckout-container {
  font-family: 'Source Sans Pro', sans-serif; }

.clearcheckout__progress {
  margin-bottom: 3em; }
  .clearcheckout__progress .clearcheckout__progress-list {
    display: inline-block; }
    .clearcheckout__progress .clearcheckout__progress-list li {
      display: inline-block;
      border-bottom: 3px solid #ccc;
      margin-right: -3px;
      transition: border-color .25s ease; }
      .clearcheckout__progress .clearcheckout__progress-list li.allow a {
        color: #a2a2a2;
        cursor: pointer; }
      .clearcheckout__progress .clearcheckout__progress-list li.current {
        border-color: #F7C500; }
        .clearcheckout__progress .clearcheckout__progress-list li.current a {
          color: #F7C500; }
      .clearcheckout__progress .clearcheckout__progress-list li h3 {
        text-transform: uppercase; }
        .clearcheckout__progress .clearcheckout__progress-list li h3 a {
          color: #D8D8D8;
          padding: 20px 25px;
          display: block;
          cursor: default; }
          .clearcheckout__progress .clearcheckout__progress-list li h3 a:hover {
            text-decoration: none; }
        @media (max-width: 768px) {
          .clearcheckout__progress .clearcheckout__progress-list li h3 {
            margin-top: 0;
            font-size: 1em; }
            .clearcheckout__progress .clearcheckout__progress-list li h3 a {
              padding: 10px 16px; } }
        @media (max-width: 1024px) {
          .clearcheckout__progress .clearcheckout__progress-list li h3 {
            margin-top: 0; } }
      @media (max-width: 320px) {
        .clearcheckout__progress .clearcheckout__progress-list li {
          display: none; }
          .clearcheckout__progress .clearcheckout__progress-list li.current {
            display: block; } }

.clearcheckout__form {
  display: inline-block;
  position: relative;
  padding: 0 .1em;
  overflow: hidden;
  width: 68.2%; }
  @media (max-width: 768px) {
    .clearcheckout__form {
      width: 100%; } }
  .clearcheckout__form .clearcheckout__form-inner {
    width: 400%; }
  .clearcheckout__form:after {
    display: table;
    content: "";
    clear: both; }
  .clearcheckout__form #opc-billing .form-list input.input-text, .clearcheckout__form #opc-billing .form-list select, .clearcheckout__form #opc-shipping .form-list input.input-text, .clearcheckout__form #opc-shipping .form-list select {
    width: 100%; }
    @media (min-width: 321px) {
      .clearcheckout__form #opc-billing .form-list input.input-text, .clearcheckout__form #opc-billing .form-list select, .clearcheckout__form #opc-shipping .form-list input.input-text, .clearcheckout__form #opc-shipping .form-list select {
        height: 55px; } }
    @media (max-width: 320px) {
      .clearcheckout__form #opc-billing .form-list input.input-text, .clearcheckout__form #opc-billing .form-list select, .clearcheckout__form #opc-shipping .form-list input.input-text, .clearcheckout__form #opc-shipping .form-list select {
        height: 45px; } }
  .clearcheckout__form .delivery .buttons-set .back-link, .clearcheckout__form .delivery .buttons-set button.button {
    display: none; }
  .clearcheckout__form .fieldset p.required {
    float: none;
    display: block;
    text-align: right; }
  .clearcheckout__form .form-list #billing-new-address-form, .clearcheckout__form .form-list #shipping-new-address-form {
    width: 100%; }
  .clearcheckout__form .form-list .field {
    width: 49%;
    display: inline-block;
    margin-right: -3px;
    vertical-align: top; }
    .clearcheckout__form .form-list .field + .field {
      margin-left: 2%; }
  .clearcheckout__form .form-list label {
    font-size: 13px;
    color: #666666;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 5px; }
  .clearcheckout__form .form-list .input-box, .clearcheckout__form .form-list li.wide .input-box {
    width: 100%; }
    .clearcheckout__form .form-list .input-box input.input-text, .clearcheckout__form .form-list .input-box select, .clearcheckout__form .form-list li.wide .input-box input.input-text, .clearcheckout__form .form-list li.wide .input-box select {
      font-size: 16px;
      font-weight: 100;
      font-family: 'Source Sans Pro', sans-serif;
      padding: 10px 14px;
      box-sizing: border-box;
      width: 100%;
      height: auto; }
    .clearcheckout__form .form-list .input-box select, .clearcheckout__form .form-list li.wide .input-box select {
      margin-top: 0;
      height: 42px; }
      .clearcheckout__form .form-list .input-box select option, .clearcheckout__form .form-list li.wide .input-box select option {
        font-size: 14px; }
  .clearcheckout__form .form-list li.wide textarea {
    width: 98%;
    height: 5em; }
  .clearcheckout__form .form-list > .wide {
    margin-bottom: 17em;
    margin-top: -16em; }
  .clearcheckout__form .form-list #billing-new-address-form, .clearcheckout__form .form-list #shipping-new-address-form {
    margin-top: -16em; }
  .clearcheckout__form #co-shipping-method-form .buttons-set .button {
    background: none; }
    .clearcheckout__form #co-shipping-method-form .buttons-set .button:hover {
      background: none; }
  .clearcheckout__form .address__billing .buttons-set {
    float: none; }
  .clearcheckout__form .address__billing div.a-item + div {
    float: right; }
  .clearcheckout__form .address__billing div + img {
    position: relative;
    display: block; }
  .clearcheckout__form .buttons-set {
    opacity: 1 !important; }
    .clearcheckout__form .buttons-set button.button {
      float: none;
      background: none;
      box-shadow: none; }
      @media (min-width: 321px) {
        .clearcheckout__form .buttons-set button.button {
          float: right;
          width: auto; } }
      @media (max-width: 767px) {
        .clearcheckout__form .buttons-set button.button {
          display: block;
          float: none;
          width: 80%;
          max-width: 80%;
          margin: 0 auto; } }
      .clearcheckout__form .buttons-set button.button span {
        display: inline-block;
        background: #F7C500;
        font-size: 20px;
        font-weight: 600;
        font-family: 'Source Sans Pro', sans-serif;
        text-transform: uppercase;
        line-height: 1;
        height: 100%;
        width: auto;
        max-width: 100%;
        padding: 20px 48px;
        border-radius: 4px;
        float: none;
        transition: background .25s ease; }
        .clearcheckout__form .buttons-set button.button span span {
          padding: 0; }
      .clearcheckout__form .buttons-set button.button:hover {
        background: none; }
        .clearcheckout__form .buttons-set button.button:hover span {
          background: #deb100; }
    .clearcheckout__form .buttons-set p.required {
      font-size: 12px;
      font-style: normal;
      width: 100%;
      text-align: left; }
    .clearcheckout__form .buttons-set p.back-link {
      background: #D8D8D8;
      font-size: 20px;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 1;
      height: 100%;
      padding: 0;
      margin: 0;
      border-radius: 4px; }
      .clearcheckout__form .buttons-set p.back-link a {
        color: #8F8F8F;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 20px;
        font-weight: 600;
        background: none;
        margin: 0;
        line-height: 100%;
        text-transform: uppercase;
        padding: 20px 48px; }
      @media (max-width: 767px) {
        .clearcheckout__form .buttons-set p.back-link {
          display: block;
          float: none;
          width: 66%;
          max-width: 66%;
          margin: 1em auto 0; }
          .clearcheckout__form .buttons-set p.back-link a {
            padding: 20px 30px; } }
  .clearcheckout__form .please-wait {
    background: rgba(0, 0, 0, 0.06);
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 999;
    font-size: 0;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    .clearcheckout__form .please-wait:after {
      content: "";
      background: url("../images/loader.svg") no-repeat scroll center center #BEBEBE;
      padding: 1rem;
      background-size: 42%;
      font-size: 0;
      width: 100px;
      height: 30px;
      border-radius: 10px;
      position: fixed;
      top: 50%;
      left: 50%;
      margin-left: -50px;
      margin-top: -30px;
      z-index: 9999; }
    .clearcheckout__form .please-wait img {
      display: none; }
  .clearcheckout__form #review-buttons-container .f-left {
    float: left; }

.clearcheckout__cart {
  display: inline-block;
  width: 25%;
  margin-left: 6%;
  vertical-align: top; }
  @media (max-width: 320px) {
    .clearcheckout__cart {
      width: 100%;
      margin-top: 2em;
      margin-left: 0; } }
  @media (min-width: 321px) and (max-width: 768px) {
    @media screen and (orientation: portrait) {
      .clearcheckout__cart {
        width: 100%;
        margin-top: 2em;
        margin-left: 0; } } }
  .clearcheckout__cart .block {
    padding: 0; }
    .clearcheckout__cart .block .block-title {
      margin-left: 0; }
      @media (max-width: 320px) {
        .clearcheckout__cart .block .block-title {
          width: 100%; } }
      @media (min-width: 321px) and (max-width: 768px) {
        @media screen and (orientation: portrait) {
          .clearcheckout__cart .block .block-title {
            width: 100%;
            margin-top: 2em;
            margin-left: 0; } } }
  .clearcheckout__cart .actions, .clearcheckout__cart .summary, .clearcheckout__cart .block-subtitle {
    display: none; }
  .clearcheckout__cart .block-progress {
    margin-top: 2em;
    border-left: 0; }

.address__login {
  background: #FFF;
  padding: 2em;
  position: fixed;
  top: -80%;
  margin-top: -170px;
  left: 50%;
  margin-left: -130px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 260px;
  z-index: 100;
  transition: top .5s ease; }
  @media (max-width: 320px) {
    .address__login {
      width: 210px;
      margin-top: -238px;
      z-index: 99999; } }
  .address__login.is-visible {
    top: 50%; }
  .address__login button.button {
    width: 100%; }
  .address__login .col2-set .col-1 {
    display: none; }
  .address__login .col2-set .col-2 {
    width: 100%;
    float: none; }

.popup__bg {
  position: fixed;
  background: rgba(0, 0, 0, 0.06);
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 99; }

.delivery-payment {
  padding: 0 .1em;
  position: relative; }
  .delivery-payment .delivery, .delivery-payment .payment {
    width: 100%;
    display: inline-block;
    vertical-align: top; }
  .delivery-payment #payment-buttons-container {
    width: 100%; }
    @media (max-width: 767px) {
      .delivery-payment #payment-buttons-container {
        margin-top: 16em; } }
  .delivery-payment h3 {
    font-size: 18px;
    font-weight: 600; }
  .delivery-payment form {
    width: 60%;
    display: block; }
    @media (max-width: 767px) {
      .delivery-payment form {
        width: 100%; } }
  .delivery-payment .sp-methods dt, .delivery-payment .sp-methods dd, .delivery-payment #checkout-shipping-method-load .sp-methods dt, .delivery-payment #checkout-shipping-method-load .sp-methods dd {
    float: none; }
  .delivery-payment .sp-methods dt, .delivery-payment #checkout-shipping-method-load .sp-methods dt {
    font-size: 16px; }
  .delivery-payment .sp-methods dd .form-list, .delivery-payment #checkout-shipping-method-load .sp-methods dd .form-list {
    font-size: 14px; }
    .delivery-payment .sp-methods dd .form-list li, .delivery-payment #checkout-shipping-method-load .sp-methods dd .form-list li {
      margin: 1em 1.5em; }
  .delivery-payment .sp-methods input.radio, .delivery-payment #checkout-shipping-method-load .sp-methods input.radio {
    width: 18px;
    height: 18px; }
  .delivery-payment .sp-methods label, .delivery-payment #checkout-shipping-method-load .sp-methods label {
    font-size: 14px; }
  .delivery-payment .coupon {
    position: absolute;
    top: 0;
    right: .1em;
    width: 32.5%; }
    @media (max-width: 767px) {
      .delivery-payment .coupon {
        position: relative;
        width: 100%;
        margin-top: -27em;
        margin-bottom: 16em; } }
    .delivery-payment .coupon #discount-coupon-form {
      display: block;
      width: 100%;
      margin-top: 0; }
    .delivery-payment .coupon label {
      font-size: 13px;
      color: #666666;
      font-weight: 600;
      text-transform: uppercase;
      padding-bottom: 5px;
      font-style: normal; }
    .delivery-payment .coupon .input-text {
      font-size: 16px;
      font-weight: 100;
      font-family: 'Source Sans Pro', sans-serif;
      padding: 10px 14px;
      box-sizing: border-box;
      width: 98%;
      height: auto; }
    .delivery-payment .coupon .buttons-set {
      text-align: left;
      margin-top: 0; }
      .delivery-payment .coupon .buttons-set button.cancel span {
        background: #D8D8D8;
        color: #8F8F8F; }
      .delivery-payment .coupon .buttons-set button span {
        font-size: 13px;
        padding: 10px 20px; }
        .delivery-payment .coupon .buttons-set button span span {
          padding: 0; }
  .delivery-payment .sp-methods .checkmo-list label {
    width: 100%;
    text-align: left; }
  .delivery-payment .delivery dt, .delivery-payment .delivery .buttons-set button {
    display: none; }

.register-link {
  display: inline-block;
  float: left;
  padding: 19px 40px;
  margin-right: 2em;
  color: #FFF;
  background: #F7C500;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  transition: background .25s ease; }
  @media (max-width: 320px) {
    .register-link {
      margin-right: 1em; } }
  .register-link:hover {
    background: #deb100;
    text-decoration: none;
    color: #FFF; }

.address__shipping .form-list, .address__billing .form-list {
  padding-top: 16em; }

.clearcheckout__step {
  display: inline-block !important;
  vertical-align: top;
  width: 25%;
  transition: all .25s ease;
  float: left;
  margin-right: 2px; }
  @media (max-width: 320px) {
    .clearcheckout__step {
      display: none !important; }
      .clearcheckout__step.active, .clearcheckout__step.current {
        display: inline-block !important; } }
  @media (min-width: 321px) and (max-width: 768px) {
    @media screen and (orientation: portrait) {
      .clearcheckout__step {
        display: none !important; }
        .clearcheckout__step.active, .clearcheckout__step.current {
          display: inline-block !important; } } }
  .clearcheckout__step.previous {
    margin-left: -25.1%; }
    @media (max-width: 767px) {
      .clearcheckout__step.previous {
        margin-left: -25.2%;
        display: none !important; } }
    .clearcheckout__step.previous.active {
      margin-left: 0; }

.totals {
  margin-top: .5em;
  background: #EDEDED;
  padding-top: .5em;
  padding-bottom: .5em;
  border-radius: 4px;
  font-size: 13px; }
  .totals table {
    width: 100%; }
    .totals table td {
      padding: .2em 0.5em; }
      .totals table td .price {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 13px; }

.clear-message {
  text-align: center;
  color: #FFF;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  position: fixed;
  top: -10em;
  left: 50%;
  width: 600px;
  margin-left: -300px;
  padding: 1em;
  border-radius: 0 0 4px 4px;
  z-index: 9999;
  transition: top .25s ease; }
  .clear-message.is_visible {
    top: 0; }
  .clear-message.status-success, .clear-message.status-cancel {
    background: #2ecc71; }
  .clear-message.status-error {
    background: #e74c3c; }
  .clear-message p {
    margin: 0; }
