<?php
/**
 * Clear Checkout
 *
 * @author     Pedro García
 * @copyright  Copyright 2014 Pedro García http://pedrogarcia.dev
 * @license    All rights reserved.
 * @version    0.1.0
 */
?>

<script type="text/javascript" src="<?php echo $this->getJsUrl('varien/accordion.js') ?>"></script>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/opcheckout.js') ?>"></script>
<script type="text/javascript" src="<?php echo $this->getJsUrl('pedrogarcia/clearcheckout/clearcheckout.js') ?>"></script>
<script type="text/javascript">countryRegions = <?php echo $this->helper('directory')->getRegionJson() ?></script>
<div class="clearcheckout-container" id="checkoutSteps">
    <div class="clearcheckout__progress">
        <ul class="clearcheckout__progress-list">
            <li class="allow"><h3><a href="<?php echo $this->getUrl('checkout/cart'); ?>"><?php echo $this->__('1. My Cart') ?></a></h3></li>
            <li class="progress-opc-billing progress-opc-shipping allow current"><h3><a href="javascript:void(0)" onclick="checkout.gotoSectionFromTop('billing')"><?php echo $this->__('2. My Address') ?></a></h3></li>
            <li class="progress-opc-shipping_method"><h3><a href="javascript:void(0)" onclick="checkout.gotoSectionFromTop('shipping_method')"><?php echo $this->__('3. Shipping and Payment') ?></a></h3></li>
            <li class="progress-opc-review"><h3><a href="javascript:void(0)" onclick="checkout.gotoSectionFromTop('review')"><?php echo $this->__('4. Review your Order') ?></a></h3></li>
        </ul>
    </div>

    <div class="clearcheckout__form">
        <div class="clearcheckout__form-inner">
            <div class="address__login">
                <?php echo $this->getChildHtml('login') ?>

            </div>
            <div class="address__billing clearcheckout__step" id="opc-billing">
                <?php echo $this->getChildHtml('billing') ?>
                <div class="a-item"></div>
                <div style="margin-top: 2em; text-align: right;">
                    <img src="<?php echo $this->getSkinUrl('images/logos-seguridad_' . strtolower(substr(Mage::app()->getLocale()->getLocaleCode(), 3)) . '.jpg'); ?>">
                </div>
            </div>
            <div class="address__shipping clearcheckout__step" id="opc-shipping">
                <?php echo $this->getChildHtml('shipping') ?>
                <div class="a-item"></div>
                <div style="margin-top: 2em; text-align: right;">
                    <img src="<?php echo $this->getSkinUrl('images/logos-seguridad_' . strtolower(substr(Mage::app()->getLocale()->getLocaleCode(), 3)) . '.jpg'); ?>">
                </div>
            </div>
            <div class="delivery-payment clearcheckout__step" id="opc-shipping_method">
                <div class="delivery">
                    <h3><?php echo $this->__('Shipping Methods') ?></h3>
                    <?php echo $this->getChildHtml('shipping_method') ?>
                </div>
                <div class="payment">
                    <h3><?php echo $this->__('Payment Methods') ?></h3>
                    <?php echo $this->getChildHtml('payment') ?>
                    <div class="coupon">
                        <h3><?php echo $this->__('Coupons') ?></h3>
                        <?php echo $this->getChildHtml('coupon') ?>
                    </div>
                </div>
                <div class="a-item"></div>
                <div style="margin-top: 2em; text-align: right;">
                    <img src="<?php echo $this->getSkinUrl('images/logos-seguridad_' . strtolower(substr(Mage::app()->getLocale()->getLocaleCode(), 3)) . '.jpg'); ?>">
                </div>
            </div>
            <div class="review clearcheckout__step" id="opc-review">
                <?php echo $this->getChildHtml('review') ?>
                <div class="a-item"></div>
                <div style="margin-top: 2em; text-align: right;">
                    <img src="<?php echo $this->getSkinUrl('images/logos-seguridad_' . strtolower(substr(Mage::app()->getLocale()->getLocaleCode(), 3)) . '.jpg'); ?>">
                </div>
            </div>
        </div>
    </div>
    <div class="clearcheckout__cart">
        <div class="block">
            <div class="block-title">
                <strong><span><?php echo $this->__('Shopping Cart') ?></span></strong>
            </div>
        </div>
        <?php echo $this->getChildHtml('cart_sidebar') ?>
        <?php echo $this->getChildHtml('checkout_progress') ?>
    </div>
</div>

<div class="clear-message">
    <p class="message"></p>
</div>
<script type="text/javascript">
//<![CDATA[
    var accordion = new Accordion('checkoutSteps', '.step-title', false);
    var checkout = new Checkout(accordion,{
        progress: '<?php echo $this->getUrl('checkout/onepage/progress') ?>',
        review: '<?php echo $this->getUrl('checkout/onepage/review') ?>',
        saveMethod: '<?php echo $this->getUrl('checkout/onepage/saveMethod') ?>',
        failure: '<?php echo $this->getUrl('checkout/cart') ?>'}
    );
    Translator.add('Login', '<?php echo $this->__('Login'); ?>');
    Translator.add('I want to register with this data', '<?php echo $this->__('I want to register with this data'); ?>');
    checkout.clearCheckout();
//]]>
</script>
